<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../views/css.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <header id="header">
        <div class="container">
            
            <div class="flex">

                <a href="#"><img src="../img/logobranco.svg" alt="Logo"class="logo"> </a>

                <nav>
                    <ul>
                        <li><a href="" class="navheader">Home</a></li>
                        <li><a href="">Cursos</a></li>
                        <li><a href="">Sobre</a></li>
                        <li><a href="">Contato</a></li>
                        <li><a href="">Serviços</a></li>

                    </ul>

                </nav>
                <div class="login">
                    <a href=""><button><span class="box">Login</span></button></a>
                    <a href=""><button><span class="box">Cadastro</span></button></a>
                </div>

            </div>
        </div>
        
    </header>
    <section class="banner"><h1>Aprenda com <span>o Agro!</span></h1></section>
    <script src="../views/menu.js"></script>
    <section class="Sobre">
    <div class="textocont">
        <h1>Sobre a Agritech Academy</h1>
        <h3 >Bem-vindo à  Agritech Academy, onde cultivamos o conhecimento para colher o sucesso no campo. Nossa jornada começou com a visão de capacitar agricultores e entusiastas do agronegócio a prosperar em um mundo agrícola em constante evolução.</h3>
        <p>A Nossa Missão: Na Agritech Academy, estamos comprometidos em ser o farol de conhecimento para todos os interessados no universo da agricultura. A nossa missão é simples, mas poderosa: capacitamos pessoas com as habilidades e o conhecimento necessários para prosperar no campo. Acreditamos que, ao fornecer educação de alta qualidade, podemos ajudar a impulsionar a indústria agrícola e criar um futuro mais promissor para todos os envolvidos.</p>
        <p>O Que Oferecemos: Nossa plataforma educacional, a AgriTech Academy, oferece uma ampla variedade de cursos e recursos destinados a atender às necessidades de iniciantes, especialistas e profissionais da agricultura. De cursos práticos de operação de máquinas agrícolas a palestras sobre as mais recentes tecnologias agrícolas, temos algo para todos.</p>
        
    </section>
            <img class="drone" src="/SITE/imagens/Imagem do WhatsApp de 2023-09-14 à(s) 01.00 1drone.svg" alt="">
            <p class="textocur">Curso Avançado de Drone Agrícola: Escaneamento para Plantio de Precisão</p>
            <img class="setabaixo" src="/SITE/imagens/image 8imagem seta baixo.svg" alt="">
        </div>
        <div class="quadrados">
            <img class="drone" src="/SITE/imagens/Imagem do WhatsApp de 2023-09-14 à(s) 01.01 1web.svg" alt="">
            <p class="textocur">Curso de Semântica Aplicada à Tecnologia Agrícola</p>
            <img class="setabaixo" src="/SITE/imagens/image 8imagem seta baixo.svg" alt="">
        </div>
        <img class="setadirei" src="/SITE/imagens/image 6seta dire.svg" alt="">
    </div>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>Logo</h1>
                <p>Aprenda com o Agro!</p>

                <div id="footer_social_media">
                    <a href="" id="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="" id="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <a href="" id="footer-link" id="telegram">
                        <i class="fa-brands fa-telegram"></i>
                    </a>

                    <ul class="footer-list">
                        <li> 
                        
                            <h3>Blog</h3> 
                        
                        </li> 

                        <li> 
                        
                            <a href="" id="footer-link">Tech</a>
                        
                        </li> 

                        <li> 
                        
                            <a href="" id="footer-link">Tech</a>
                        
                        </li> 

                        <li> 
                        
                            <a href="" id="footer-link">Tech</a>
                        
                        </li> 
                    </ul>

                    <ul class="footer-list">
                        <li> 
                        
                            <h3>Blog</h3> 
                        
                        </li> 

                        <li> 
                        
                            <a href="" id="footer-link">Tech</a>
                        
                        </li> 

                        <li> 
                        
                            <a href="" id="footer-link">Tech</a>
                        
                        </li> 

                        <li> 
                        
                            <a href="" id="footer-link">Tech</a>
                        
                        </li> 
                    </ul>
                    <div id="footer_subscribe">
                        <h3>Subscribe</h3>
                        <p>
                            email for solutions
                        </p>
                        <div id="input_group">
                            <input type="email" name="email" id="email">
                            <button>
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="footer_copyright">
            &#169
            2023 all rights reserved
        </div>
    </footer>    


    <!-- Conteúdo do site -->
    <main>
        <!-- O conteúdo do site vai aqui -->
    </main>
    <script>
        var images = [,,]; // Substitua por suas imagens
        var index = 0;
        
        setInterval(function() {
            document.body.style.backgroundImage = 'url(' + images[index] + ')';
            index = (index + 1) % images.length;
        }, 180000); // Troca a imagem a cada 3 minutos

    </script>
</body>

</html>