<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Link de fonte apenas para Public Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            background-color: #539B2D;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rectangle {
            /* width: 1226px;
            height: 772px; */
            width: 95vw;
            height: 95vh;
            border-radius: 65px;
            background: #8BEA38;
            box-shadow: 0px 4px 50px 0px #000;
            display: flex;
            position: relative;
            /* Adicionado para posicionar as imagens */
        }

        .image-left {
            width: 50%;
            height: 100%;
            border-radius: 56px;
            background: url('/SITE/imagens/operador_horizonte\ 1SENHOR\ TRATOR.svg'), lightgray 50% / cover no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .text-container {
            color: #000;
            font-family: 'Public Sans', sans-serif;
            font-size: 25px;
            -webkit-text-stroke: 0.3px white;
            /* largura e cor do stroke */
            margin-left: 245px;
            margin-top: 5px;
            margin-bottom: 2;
        }

        .input-box {
            width: 412px;
            height: 30px;
            border-radius: 60px;
            background: #BCB2B2;
            margin-bottom: 10px;
            margin-left: 70px;
            background-image: url('/SITE/imagens/image\ 4\ \(1\).svg'); /* Defina a URL da sua imagem */
            background-position: 2px center; /* Ajuste a posição da imagem */
            background-repeat: no-repeat;
            padding-left: 40px; /* Ajuste o espaçamento para acomodar a imagem */
        }

        .button {
            width: 231px;
            height: 76px;
            border-radius: 26px;
            background: #FF9F1C;
            margin-left: 190px;
            margin-top: 30px;
            border: none;
            margin-bottom: 150px;

            /* Adicionado para estilizar o texto do botão */
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            -webkit-text-stroke: 0.5px white;

            /* Adicionado para centralizar o texto no botão */
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Public Sans', sans-serif;

            
        }

        /* Adicionado para a imagem no canto superior direito */
        .top-right-image {
            position: absolute;
            top: 0;
            right: 0;
            width: 128px;
            height: 128px;
            border-radius: 44px;
            background: url('/SITE/imagens/Design\ sem\ nome\ \(10\)\ 1LOGO.svg'), lightgray 50% / cover no-repeat;
            margin-right: 17px;
            margin-top: 13px;
        }

        /* Adicionado para a imagem no canto inferior direito */
        .bottom-right-image {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 81px;
            height: 81px;
            /* background: url('/SITE/imagens/image_2Duvidas-removebg-preview\ 1.svg'), lightgray 50% / cover no-repeat; */
            margin-right: 41px;
            margin-bottom: 28px;
        }
        
        .senha {
            color: #000;
            font-family: 'Public Sans', sans-serif;
            font-size: 25px;
            -webkit-text-stroke: 0.3px white;
            /* largura e cor do stroke */
            margin-left: 245px;
            margin-top: 5px;
        }

        .login {
            color: #000;
            font-family: 'Public Sans', sans-serif;
            font-size: 36px;
            -webkit-text-stroke: 0.5px white;
            /* largura e cor do stroke */
            margin-left: 58px;
            margin-top: 30px;
        }

        .caixa {
            width: 412px;
            height: 30px;
            border-radius: 60px;
            background: #BCB2B2;
            margin-bottom: 3px;
            margin-left: 70px;
            background-image: url('/SITE/imagens/image\ 5.svg'); /* Defina a URL da sua imagem */
            background-position: 2px center; /* Ajuste a posição da imagem */
            background-repeat: no-repeat;
            padding-left: 40px; /* Ajuste o espaçamento para acomodar a imagem */
        }

        /* Adicione o estilo para o ícone do olho */
        .olho {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .completo{
            color: #000;
            font-family: 'Public Sans', sans-serif;
            font-size: 25px;
            -webkit-text-stroke: 0.3px white;
            /* largura e cor do stroke */
            margin-left: 185px;
            margin-top: 50px;
            margin-bottom: 2;
        }
        .confirme{
            color: #000;
            font-family: 'Public Sans', sans-serif;
            font-size: 25px;
            -webkit-text-stroke: 0.3px white;
            /* largura e cor do stroke */
            margin-left: 160px;
            margin-top: 5px;

        }
    </style>

</head>

<body>
    <div class="rectangle">
        <div class="image-left"></div>
        <div class="top-right-image">
        </div> <!-- Adicionado a imagem no canto superior direito -->
        <div class="bottom-right-image">
            <img src="../imagens/image_2Duvidas-removebg-preview 1.svg" alt="">
        </div> <!-- Adicionado a imagem no canto inferior direito -->
        <div>
            <div class="login">CADASTRE SUA CONTA</div>

            <form action="/cadastrar/usuario" method="post">
            <div class="completo">NOME DE USUARIO:</div>
            <input class="input-box" type="text" name="nomeUsuario">
            <div class="text-container">E-MAIL:</div>
            <input class="input-box" type="email" placeholder="@gmail.com" name="emailUsuario">
            <div class="senha">SENHA:</div>
            <!-- Campo de senha com ícone de olho -->

            <div style="position: relative;">
                <input class="caixa" type="password" id="senha" placeholder="*********" name="senhaUsuario">
                <span id="olho" class="olho" onclick="mostrarSenha()">&#128065;</span>
            </div>
           
                <button class="button" type="submit">Cadastrar</button>
               <a href="/login" class="button">Fazer Login </a>
            

            </form>
        </div>
    </div>

    <script>
        function mostrarSenha() {
            var senhaInput = document.getElementById("senha");
            var olhoIcon = document.getElementById("olho");

            if (senhaInput.type === "password") {
                senhaInput.type = "text";
                olhoIcon.innerHTML = "&#128064;"; // Ícone do olho aberto
            } else {
                senhaInput.type = "password";
                olhoIcon.innerHTML = "&#128065;"; // Ícone do olho fechado
            }
        }
    </script>
</body>

</html>
