<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
    <header style="background: transparent;">
        <img src="/SITE/imagens/Design sem nome (10) 1logo header.svg" alt="Logo"> <div class="titulo">
        <p class="titulo1">AgriTech</p>
        <p class="titulo2">Academy</p>
        </div>
        <nav>
            <a class="home" href="#">Home</a>
            <a class="cursos" href="#">Cursos</a>
            <a class="sobre" href="#">Sobre</a>
            <a class="contatos" href="#">Contatos</a>
            <a class="servicos" href="#">Serviços</a>
        </nav>
        <a class="login" href="/login">LOGIN</a>
        <a class="cadastre-se" href="/cadastro">CADASTRE-SE</a>
        <a class="cadastre-se" href="/cadastro/instrutor">Quer se tornar um instr   utor?</a>
        <a class="cadastre-se" href="/cadastro/curso">Cadastre seu Curso</a>
        <a class="cadastre-se" href="/carregarPerfil">Perfil</a>

        
    </header>
    <div class="container">
        <p class="textocont">Da Raiz à Colheita: Conhecimento que Passa de Geração em Geração</p>
        <div class="quadrados">
            <img class="drone" src="/SITE/imagens/Imagem do WhatsApp de 2023-09-14 à(s) 01.00 1drone.svg" alt="">
            <p class="textocur">Curso Avançado de Drone Agrícola: Escaneamento para Plantio de Precisão</p>
            <img class="setabaixo" src="/SITE/imagens/image 8imagem seta baixo.svg" alt="">
        </div>
        <div class="quadrados">
            <img class="drone" src="/SITE/imagens/Imagem do WhatsApp de 2023-09-14 à(s) 01.01 1web.svg" alt="">
            <p class="textocur">Curso de Semântica Aplicada à Tecnologia Agrícola</p>
            <img class="setabaixo" src="/SITE/imagens/image 8imagem seta baixo.svg" alt="">
        </div>
        <img class="setadirei" src="/SITE/imagens/image 6seta dire.svg" alt="">
    </div>


    <!-- Conteúdo do site -->
    <main>
        <!-- O conteúdo do site vai aqui -->
    </main>
    <script>
        var images = [,,]; // Substitua por suas imagens
        var index = 0;
        
        setInterval(function() {
            document.body.style.backgroundImage = 'url(' + images[index] + ')';
            index = (index + 1) % images.length;
        }, 180000); // Troca a imagem a cada 3 minutos

    </script>
</body>

</html>