<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Instrutor</title>
</head>
<body>
    <H1>CADASTRO PARA INSTRUTOR</H1>
    <form action="/cadastrarInstrutor" method="post">

        <label>Usuário:</label>
        <input type="text" placeholder="<%= usuario.nomeUsuario %>" disabled>
        <input type="text" value="<%= usuario.id %>" name="idUsuario">

        <label>Nome Completo:</label>
        <input type="text" placeholder="" value="" name="nomeInstrutor">

        <label>CPF:</label>
        <input type="number" placeholder="123.243.434-56" value="" name="cpfInstrutor">

        <label>Endereço:</label>
        <input type="text" placeholder="Avenida Brasil" value="" name="enderecoInstrutor">

        <label>Contato:</label>
        <input type="number" placeholder="14998102380" value="" name="contatoInstrutor">

        <label>Contato:</label>
        <input type="date" placeholder="13/02/2004" value="" name="dataNascimentoInstrutor">

            
            
        
        <button class="btn btn-success">Cadastrar</button>
        
    </form>
</body>
</html>