<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
</head>
<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content > div {
        flex: 1;
        padding: 10px;
    }
    nav {
display: flex;
}
.home:focus, .cursos:focus, .sobre:focus, .contatos:focus, .servicos:focus {
color:#FF9F1C;
}
header {
width: 1280px;
height: 94px;
flex-shrink: 0;
background: transparent;
display: flex;
align-items: center;
justify-content: space-between;
font-family: 'Cairo', sans-serif
}

header img {
width: 78px;
height: 78px;
border-radius: 44px;
background: url('<path-to-image>'), lightgray 50% / cover no-repeat;
}
.home, .cursos, .sobre, .contatos, .servicos {
width: 96px;
height: 35px;
flex-shrink: 0;
color: #539B2D;
font-family: Cairo;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Botões de login e cadastro */
.login{
width: 124px;
height: 39px;
flex-shrink: 0;
background: #FF9F1C;
color: #FFF;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}
.cadastre-se{
display: flex;
width: 138px;
height: 39px;
background: #FF9F1C;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Cairo;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}
body {
font-family: 'Cairo', sans-serif; /* Fonte do corpo do documento */
width: 1280px;
height: 832px;
flex-shrink: 0;
background-size: cover;
background-position: center;
transition: background-image 2s ease-in-out;
}
header {
width: 1280px;
height: 94px;
flex-shrink: 0;
background: transparent;
display: flex;
align-items: center;
justify-content: space-between;
font-family: 'Cairo', sans-serif
}

header img {
width: 78px;
height: 78px;
border-radius: 44px;
background: url('<path-to-image>'), lightgray 50% / cover no-repeat;
}

/* Títulos ao lado do logo */
.titulo {
display: flex;
flex-direction: column;
}

.titulo1, .titulo2 {
flex-shrink: 0;
font-family: 'Cairo', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.titulo1 {
color: #539B2D;
width: 183px;
height: 83px;

}

.titulo2 {
color: #FF9F1C;
width: 183px;
height: 83px;
margin-bottom: 0px;
margin-left: 0px;
}
.endereco{
color: #539B2D;
text-align: center;
font-family: Cairo;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mens{
border-radius: 100px;
border: 1px solid #FF9F1C;
background: #D9D9D9;
}
.botao{
border-radius: 100px;
border: 1px solid #FF9F1C;
background: #D9D9D9;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 209px;
height: 46px;
flex-shrink: 0;
}
.imgc{
border-radius: 100px;
border: 1px solid #FF9F1C;
background: #D9D9D9;
width: 285px;
height: 127px;
flex-shrink: 0;
}
</style>
<body>
    <header style="background: transparent;">
        <img src="/SITE/imagens/Design sem nome (10) 1logo header.svg" alt="Logo" <div class="titulo">
        <p class="titulo1">AgriTech</p>
        <p class="titulo2">Academy</p>
        </div>
        <nav>
            <a class="home" href="#">Home</a>
            <a class="cursos" href="#">Cursos</a>
            <a class="sobre" href="#">Sobre</a>
            <a class="contatos" href="#">Contatos</a>
            <a class="servicos" href="#">Serviços</a>
        </nav>
        <button class="login">LOGIN</button>
        <button class="cadastre-se">CADASTRE-SE</button>
    </header>

    <h1>Cadastrar Curso</h1>

        
    <form action="/cadastrarCurso" method="post">
        <label class="endereco">Titulo:</label>
        <input type="text" placeholder="" value="" name="tituloCurso" class="mens">

        <label>Descricao:</label>
        <input type="text" placeholder="" value="" name="descricaoCurso">

        <label>Preço:</label>
        <input type="number" placeholder="" value="" name="precoCurso">

        <label>Instrutor:</label>
        <input type="number" placeholder="<%= usuario.nomeUsuario %>" disabled>
        <input type="number" value="<%= instrutor.id %>" name="instrutorCurso">

        <label>Categoria:</label>
        <select name="categoria" class="form-control">
            <% categorias.forEach((categoria) => { %>
                <option name="categoria" value="<%= categoria.id %>"> <%= categoria.title %> </option>
            <% }) %>


        <label>Imagem:</label>
        <input type="text" placeholder="" value="" name="imagemCurso">
        
        <label>link:</label>
        <input type="text" placeholder="Coloque aqui o link não listado" value="" name="linkCurso">
        
        <button class="btn btn-success">Cadastrar</button>

    </form>
    
</body>
</html>