<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
</head>
<body>

    <h1>Cadastrar Curso</h1>

    <form action="/cadastrarCurso" method="post">
        <label>Titulo:</label>
        <input type="text" placeholder="" value="" name="tituloCurso">

        <label>Descricao:</label>
        <input type="text" placeholder="" value="" name="descricaoCurso">

        <label>Preço:</label>
        <input type="number" placeholder="" value="" name="precoCurso">

        <label>Instrutor:</label>
        <input type="number" placeholder="<%= usuario.nomeUsuario %>" disabled>
        <input type="number" value="<%= instrutor.id %>" name="instrutorCurso">

        <label>Categoria:</label>
        <select name="categoria" class="form-control">
            <% categorias.forEach((categoria) => { %>
                <option name="categoria" value="<%= categoria.id %>"> <%= categoria.title %> </option>
            <% }) %>


        <label>Imagem:</label>
        <input type="text" placeholder="" value="" name="imagemCurso">
        
        <label>link:</label>
        <input type="text" placeholder="Coloque aqui o link não listado" value="" name="linkCurso">
        
        <button class="btn btn-success">Cadastrar</button>

    </form>
    
</body>
</html>